html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.header {
    padding: 15px;
}

.header img {
    display: inline-block;
}

.header h1 {
    display: inline-block;
}

.main {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.main h1 {
    color: #F65A5B;
    font-size: 64px;
    margin: 0 0 80px 0;
    padding: 20px 0;
    line-height: 60px;
    width: 50%;
}

.main h2 {
    background-color: #DDDDDD;
    color: #999999;
    font-size: 20px;
    margin: 0 0 40px 0;
    padding: 20px 0;
}

.thumbnail {
    border: 0px;
    position: relative;
    padding: 50px;
    border-radius: 0;
    margin-bottom: 50px;
}

.thumbnail img {
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 100%;
}

.title,
.date {
    color: #444;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}

.date {
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 200;
}

.price {
    background-color: #39D1B4;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: -40px;
    right: 20px;
}

.rating {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 30px 0 -30px 20px;
}

.likes,
.dislikes {
    background: #F65A5B;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
    color: #F65A5B;
    background: rgba(246, 90, 91, 0.25);
    transition: background 500ms;
}

.footer {
    text-align: center;
    margin: 80px 0 110px;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.footer img {
    margin: 0 10px;
}

.btn {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 200;
    padding: 2px 10px;
    border-radius: 2px;
    margin: 5px;
}

.btn:hover {
    color: rgb(255, 80, 80);
    background: rgba(255, 80, 80, 0.25);
    transition: background 500ms;
    border: 1px solid rgb(255, 80, 80);
}

.btn-downloaded {
    background-color: #ababab;
    color: #3f3f3f;
}