<!-- ng-controller is also a directive like ng-app, this defines the controller scope we created in MainController.js -->
<!-- https://docs.angularjs.org/guide/controller -->
<div class="main" ng-controller="MainController">
    <div class="container">
        <h1>{{ title }}</h1>
        <h2>{{ subTitle }}</h2>
        <a href="http://localhost/angular-js-app/#!/weather">Get the latest weather here</a>
        <h3>This section is created without directives</h3>
        <!-- ng-repeat="product in products" iterates over our array essentailly become foreach(var product in products){...} -->
        <!-- https://docs.angularjs.org/api/ng/directive/ngRepeat -->
        <div ng-repeat="product in products" class="col-md-6">
            <div class="thumbnail">
                <!-- You can access scope variables anywhere inside the controller -->
                <img ng-src="{{ product.cover }}">

                <!-- We can use AngularJS filter to format data in the view.-->
                <!-- https://docs.angularjs.org/api/ng/filter -->

                <!-- '| uppercase' is also a built-in filter -->
                <p class="title">{{ product.name | uppercase}}</p>

                <!--'| currency' will now display the data '19' as '$19.00' -->
                <p class="price">{{ product.price | currency }}</p>

                <!-- '| date' is also a built-in filter -->
                <p class="date">{{ product.pubdate | date}}</p>

                <div class="rating">
                    <!-- Allows us to call our function declared in the MainController if its attached to the scope -->
                    <!-- https://docs.angularjs.org/api/ng/directive/ngClick -->
                    <p class="likes" ng-click="plusOne($index)">+ {{ product.likes }}</p>
                </div>
            </div>
        </div>


        <h3>This section is created with directives</h3>
        <div ng-repeat="product in products" class="col-md-6">
            <book-info info="product" update-likes="plusOne($index)"></book-info>
            <add-cart></add-cart>
        </div>

        <h3>Contact Us</h3>
        <form name="myForm">
            <label for="fname">First name:</label>
            <br>
            <input type="text" id="fname" name="fname" ng-model="name">
            <p>{{ name }}</p>
            <br>
            <label for="email">Email:</label>
            <br>
            <input type="email" id="email" name="email" ng-model="email">
            <span ng-show="myForm.email.$error.email">Not a valid e-mail address</span>
            <p>{{ email }}</p>
            <br>
        </form>
        <button>Submit</button>
    </div>
</div>