<div class="weather">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-7">
                <a href="http://localhost/angular-js-app/#!/">Go back</a>
                <h1>{{ fiveDay.city_name }}</h1>
                <h2>5-day forecast</h2>
                <div class="forecast" ng-repeat="day in fiveDay.days">
                    <div class="day row">

                        <!-- datetime -->
                        <div class="weekday col-xs-4">
                            <h4>{{ day.datetime | date }}</h4>
                        </div>


                        <!-- icon -->
                        <div class="weather col-xs-3">
                            <img ng-src="{{ day.icon }}">
                        </div>

                        <div class="col-xs-1"></div>


                        <!-- high -->
                        <div class="high col-xs-2">
                            <h4>{{ day.high }}</h4>

                        </div>


                        <!-- low -->
                        <div class="low col-xs-2">
                            <h4>{{ day.low }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>