<div class="thumbnail">
    <img ng-src="{{ info.cover }}">
    <p class="title">{{ info.name | uppercase}}</p>
    <p class="price">{{ info.price | currency }}</p>
    <p class="date">{{ info.pubdate | date}}</p>
    <div class="rating">
        <p class="likes" ng-click="updateLikes()">+ {{ info.likes }}</p>
    </div>
</div>